---
export const prerender = false;
import ReadPage from "../../containers/ReadPage.astro";
import Body from "../../layouts/Body.astro";
import { MinifluxClient } from "../../lib/miniflux-client";
import AstroCookiesManager from "../../lib/astro-cookies-manager";
import {
  MinifluxAuthError,
  MinifluxBadRequestError,
  MinifluxNotFoundError,
} from "../../lib/miniflux-client/errors";

const { article } = Astro.params;

const articleId = Number(article);
if (isNaN(articleId)) {
  return Astro.rewrite("/404");
}

let url, apiToken;
try {
  const cookieManager = new AstroCookiesManager(Astro.cookies);
  ({ url, apiToken } = cookieManager.getMinifluxSessionCookies());
} catch {
  return Astro.redirect("/login");
}

// TODO: To implement pagination in #23
const minifluxClient = new MinifluxClient(url, apiToken);
let entries;
try {
  entries = await minifluxClient.getEntries({
    status: "unread",
    order: "published_at",
    direction: "asc",
  });
} catch (error) {
  if (error instanceof MinifluxAuthError) {
    return Astro.rewrite("/api/logout");
  } else if (error instanceof MinifluxBadRequestError) {
    return Astro.rewrite("/400");
  } else if (error instanceof MinifluxNotFoundError) {
    return Astro.rewrite("/404");
  } else {
    return Astro.rewrite("/500");
  }
}

const totalEntries = entries.entries.length;
const isFirstArticle = articleId === 0;
const isLastArticle = articleId === totalEntries - 1;
if (articleId < 0 || articleId >= totalEntries) {
  return Astro.rewrite("/404");
}

const entry = entries.entries[articleId];
---

<Body>
  <ReadPage
    articleId={articleId}
    title={entry.title}
    feedTitle={entry.feed.title}
    isFirstArticle={isFirstArticle}
    isLastArticle={isLastArticle}
    content={entry.content}
  />
</Body>
