---
import ErrorMessage from "../ErrorMessage/ErrorMessage.astro";

/**
 * @typedef {object} Props
 * @property {string} method - The HTTP method for the form submission (e.g., "POST").
 * @property {string} action - The URL to which the form data will be submitted.
 */
interface Props {
  method: string;
  action: string;
  hasError: boolean;
}

/**
 * LoginForm component provides a form for users to log in.
 * It includes input fields for the Miniflux Server URL and an API Token,
 * and a submit button. The form's submission method and action URL are
 * configurable via props.
 */
const { method, action, hasError } = Astro.props;
const errorId = "login-error-message";
---

<form method={method} action={action}>
  {hasError && <ErrorMessage id={errorId} />}
  <label for="server">
    Miniflux Server URL
    <input
      id="server"
      name="server"
      placeholder="https://miniflux.example.com/"
      autocomplete="url"
      required
      aria-invalid={hasError ? "true" : "false"}
      aria-describedby={hasError ? errorId : undefined}
    />
  </label>

  <label for="password">
    API Token
    <input
      id="password"
      name="password"
      type="password"
      autocomplete="current-password"
      required
      aria-invalid={hasError ? "true" : "false"}
      aria-describedby={hasError ? errorId : undefined}
    />
  </label>

  <button>Login</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem auto;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
  }

  button {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
  }
</style>
