---
import MarkAsRead from "./actions/MarkAsRead.astro";
import PreviousArticle from "./actions/PreviousArticle.astro";
import NextArticle from "./actions/NextArticle.astro";
import Logout from "./actions/Logout.astro";
import NavButton from "./templates/NavButton.astro";
import NavTitle from "./templates/NavTitle.astro";

interface Props {
  entryId: number;
  title: string;
  feedTitle: string;
  previousArticleUrl: string | null;
  nextArticleUrl: string | null;
  isUnread: boolean;
}

const {
  entryId,
  title,
  feedTitle,
  previousArticleUrl,
  nextArticleUrl,
  isUnread,
} = Astro.props;
---

<nav>
  <ul>
    <NavButton>
      <MarkAsRead entryId={entryId} isUnread={isUnread} />
    </NavButton>

    <NavButton>
      <PreviousArticle url={previousArticleUrl} />
    </NavButton>

    <NavTitle title={`${feedTitle} - ${title}`} />

    <NavButton>
      <NextArticle url={nextArticleUrl} />
    </NavButton>

    <NavButton>
      <Logout url="/api/logout" />
    </NavButton>
  </ul>
</nav>

<style>
  nav {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
    /* Make the Nav to always stay at top */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
  }
</style>
